<div class="card mb-4">
  <div class="card-body">

    <h2>Agregar producto</h2>

    <form [formGroup]="formulario" (ngSubmit)="agregar()">

      <div class="mb-3">
        <label class="form-label">Nombre</label>

        <input
          type="text"
          class="form-control"
          formControlName="nombre">

        <div
          class="text-danger"
          *ngIf="formulario.get('nombre')?.hasError('required') &&
                 formulario.get('nombre')?.touched">
          El nombre es requerido.
        </div>

        <div
          class="text-danger"
          *ngIf="formulario.get('nombre')?.hasError('longitudMinima') &&
                 formulario.get('nombre')?.touched">
          El nombre debe tener al menos 3 caracteres.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Descripción</label>

        <input
          type="text"
          class="form-control"
          formControlName="descripcion">

        <div
          class="text-danger"
          *ngIf="formulario.get('descripcion')?.hasError('required') &&
                 formulario.get('descripcion')?.touched">
          La descripción es requerida.
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formulario.invalid">
        Agregar
      </button>

    </form>

  </div>
</div>
